
* {
	box-sizing: border-box;
}

html {
	color:#444;
	font-family: serif;
    padding:0em;
	line-height: 1.4;
    background-color:#fff;
}
body{
    padding:0em;
    margin:0em;
}
header{
    width:100%;
    top:0px;
    left:0px;
}
h1,h2,h3,h4,h5,h6{
    color:#444;
    margin:0em;
    font-family:Helvetica, sans-serif;
}
h1 {
    font-size:3.5em;
}
h2 {
    font-size:2em;
}
h3 {
    font-size:1.7em;
}
h4 {
    font-size:1.4em;
}
h5,h6 {
    font-size:1.2em;
}
#siteTitle{
    color:#ab4444;
    padding:0.5em;
    font-size:2.5em;
}
#titleBar{
    background-color:#aaa;
    float:left;
    margin:0.25%;
    height:6em;
    width:79%;
}
#lambda{
    float:left;
    height:6em;
    width:20%;
    background-color:black;
    padding:1em;
    text-align:center;
    margin:0.25%;
}
#lambda img{
    height:4em;
}
#subtitle{
    display:block;
    float:left;
}
a, a:visited{
    font:inherit;
    color:inherit;
    text-decoration:inherit;
}
main a, main a:visited{
    font-weight:bold;
    text-decoration:none;
    color:#ab4444;
}
main a:hover{
    text-decoration:underline;
}

nav {
    width:20%;
    font-size:1.4em;
    float:left;
    margin:0.25%;
}
.navbox{
    display:block;
    background-color:#ccc;
    width:100%;
    padding:0.25em 1em;
    padding-right:2em;
    text-align:left;
    margin-bottom:0.25em;
    position:relative;
}
.navbox:hover{
    color:#ab4444;
}
.pluslink:hover{
    color:#ccc;
    cursor:pointer;
    color:#ab4444;
}
.submenu{
    background-color:#999;
    width:100%;
    position:relative;
    left:0em;
    top:-0.5em;
    font-size:1rem;
}
.submenu-sect{
    display:block;
    width:100%;
    padding:0.25em 1em;
    padding-left:2em;
    font-weight:bold;
}
.sublink{
    display:block;
    width:100%;
    padding:0.25em 1em;
    padding-left:4em;
}
.sublink:hover{
    background-color:#777;
    color:#ccc;
}
main {
	width: 58%;
	padding: 1%;
    float:left;
    margin:0.25%;
    font-size:1.2em;
}

.halfbox{
    width:50%;
    float:left;
    padding:1em;
}

table {
	width: 100%;
	border-collapse: collapse;
}

tr {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}

th {
	text-align: left;
	padding: 0.25em;
}

td {
	padding: 0.25em;
}

