
* {
	box-sizing: border-box;
}

html {
	color:#444;
	font-family: Helvetica, sans-serif;
    padding:0em;
	line-height: 1.4;
    background-color:#fff;
}
body{
    padding:0em;
    margin:0em;
}
header{
    width:100%;
    position:fixed;
    top:0px;
    left:0px;
}
h1 {
    padding:0.5em;
    margin:0em;
    font-size:2.5em;
    font-family:Helvetica, sans-serif;
    color:#ab4444;
}
#titleBar{
    background-color:#aaa;
    float:left;
    margin:0.25%;
    height:6em;
    width:79%;
}
#lambda{
    float:left;
    height:6em;
    width:20%;
    background-color:black;
    padding:1em;
    text-align:center;
    margin:0.25%;
}
#lambda img{
    height:4em;
}
h2 {
    font-size:3em;
    color:#fff;
    padding:0;
    margin:0;
}
#subtitle{
    display:block;
    float:left;
}
h4{
    font-size:1.3em;
    color:#fff;
    padding:0;
    margin:0;
}
a{
    font:inherit;
    color:inherit;
    text-decoration:inherit;
}

nav {
    width:20%;
    font-size:1.4em;
    position:fixed;
    top:6em;
    left:0.25%;
}
.navbox{
    background-color:#ccc;
    width:100%;
    padding:0.25em 1em;
    padding-right:2em;
    text-align:left;
    margin-bottom:0.25em;
    position:relative;
}
.pluslink{
    position:absolute;
    right:0.25em;
    top:0em;
    z-index:1000;
    font-size:1.4em;
}
.navlink:hover{
    color:#ab4444;
}
.pluslink:hover{
    color:#ccc;
    cursor:pointer;
    color:#ab4444;
}
.submenu{
    background-color:#999;
    width:100%;
    position:relative;
    left:0em;
    top:-0.5em;
    font-size:1rem;
}
.submenu-sect{
    display:block;
    width:100%;
    padding:0.25em 1em;
    padding-left:2em;
    font-weight:bold;
}
.sublink{
    display:block;
    width:100%;
    padding:0.25em 1em;
    padding-left:4em;
}
.sublink:hover{
    background-color:#777;
    color:#ccc;
}
main {
	width: 58%;
	padding: 1%;
    float:left;
    margin:0.225%;
    margin-top:6em;
    margin-left:calc(20.25% + 0.5em);
}

a,
a:visited {
	color: inherit;
}

table {
	width: 100%;
	border-collapse: collapse;
}

tr {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}

th {
	text-align: left;
	padding: 0.25em;
}

td {
	padding: 0.25em;
}

